doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    style.
      body { font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
      table { border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; }
      td { font-family: sans-serif; font-size: 14px; vertical-align: top; }
      .body { background-color: #f6f6f6; width: 100%; }
      .container { display: block; margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px; }
      .main { background: #ffffff; border-radius: 3px; width: 100%; }
      .wrapper { box-sizing: border-box; padding: 20px; }
      p { font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; }
      a { color: #3498db; text-decoration: underline; }
      .btn { box-sizing: border-box; width: 100%; }
      .btn > tbody > tr > td { padding-bottom: 15px; }
      .btn table { width: auto; }
      .btn table td { background-color: #ffffff; border-radius: 5px; text-align: center; }
      .btn a { background-color: #ffffff; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; color: #3498db; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; }
      .btn-primary table td { background-color: #3498db; }
      .btn-primary a { background-color: #3498db; border-color: #3498db; color: #ffffff; }
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tr
        td
        td.container
          .main
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tr
                td.wrapper
                  p Chào #{name},
                  p Bạn đã yêu cầu đặt lại mật khẩu. Vui lòng nhấp vào nút bên dưới để hoàn tất quá trình. Link này sẽ hết hạn sau 10 phút.
                  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tbody
                      tr
                        td(align='left')
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                              tr
                                td
                                  a(href=resetUrl, target='_blank') Đặt lại mật khẩu
                  p Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.
                  p Trân trọng,
                  p Đội ngũ CareerZone
        td
